*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

.navbar{
  display:flex;
  justify-content:space-between;
  padding:30px;
  background:#222;
  color:white;
}

.nav-links{
  display:flex;
  gap:20px;
  list-style:none;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

.hamburger{display:none;font-size:24px;cursor:pointer;}

.sidebar{
  position:fixed;
  left:-250px;
  top:0;
  width:250px;
  height:100%;
  background:#333;
  padding:20px;
  transition:.3s;
}

.hero{
  text-align:center;
  padding:60px;
  background:#eee;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:20px;
}

.card{
  border:1px solid #ccc;
  padding:15px;
  text-align:center;
}

.card img{
  width:100%;
  height:150px;
  object-fit:cover;
}

.controls{padding:20px;text-align:center;}

.contact{
  max-width:400px;
  margin:30px auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.error{color:red;font-size:12px;}

@media(max-width:768px){
  .nav-links{display:none;}
  .hamburger{display:block;}
}
.footer {
  background:#9c7f7f;
  color:white;
  padding:30px 20px;
  margin-top:40px;
}

.footer-container {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  gap:20px;
}

.footer a {
  color:white;
  text-decoration:none;
}

.copy {
  text-align:center;
  margin-top:20px;
  font-size:14px;
}

/* MOBILE */
@media(max-width:768px){
  .footer-container {
    flex-direction:column;
    text-align:center;
  }
}
